target/
META-INF/
OSGI-INF/
build.properties
pom.xml.versionsBackup
dependency-reduced-pom.xml
*~
*.bak
.checkstyle
.classpath
.project
.settings/
.toDelete
*.pyc
.idea/
*.iml
.coverage
*htmlcov
application/statistics/
statistics/
.python-version
