sudo: required
dist: trusty
language: java
jdk: oraclejdk8
cache:
  directories:
  - $HOME/.m2
matrix:
  include:
  - name: "Style check"
    env: TEST_SUITE='com.mycila:license-maven-plugin:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check javadoc:jar'
  - name: "Unit tests"
    env: TEST_SUITE='test cobertura:cobertura coveralls:report'
  - name: "OSGi integration"
    env: TEST_SUITE='verify -P docker-integration-test,osgi-integration-tests -DskipUTs'
  - name: "Standalone integration 3.0"
    env: TEST_SUITE='verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=3.0 -DskipUTs'
  - name: "Standalone integration 3.11"
    env: TEST_SUITE='verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=3.11 -DskipUTs'
script:
  - mvn $TEST_SUITE -B
services:
  - docker
