sudo: required
dist: xenial
language: java
jdk: openjdk8
cache:
  directories:
  - $HOME/.m2


before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

matrix:
  include:
  - name: "Style check"
    env: TEST_SUITE='compile com.mycila:license-maven-plugin:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check javadoc:jar'
  - name: "Unit tests"
    env: TEST_SUITE='test jacoco:report coveralls:report'
  - name: "OSGi integration"
    env: TEST_SUITE='install -P docker-integration-test,osgi-integration-tests -Dit.cassandra.version=3.0 -DskipUTs'
  - name: "Standalone integration 3.0"
    env: TEST_SUITE='verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=3.0 -DskipUTs'
  - name: "Standalone integration 3.11"
    env: TEST_SUITE='verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=3.11 -DskipUTs'
  - name: "Python 2.7 integration"
    language: python
    python: 2.7
    env: TEST_SUITE='verify -P docker-integration-test,python-integration-tests -DskipUTs'
  - name: "Python 3.6 integration"
    language: python
    python: 3.6
    env: TEST_SUITE='verify -P docker-integration-test,python-integration-tests -DskipUTs'
script:
  - mvn $TEST_SUITE -B
services:
  - docker
