sudo: required
language: java
jdk: oraclejdk8
cache:
  directories:
  - $HOME/.m2
matrix:
  include:
  - name: "License check"
    env: TEST_SUITE='com.mycila:license-maven-plugin:check'
  - name: "PMD"
    env: TEST_SUITE='pmd:pmd pmd:cpd pmd:check pmd:cpd-check'
  - name: "Javadoc"
    env: TEST_SUITE='javadoc:jar'
  - name: "Unit tests"
    env: TEST_SUITE='test cobertura:cobertura coveralls:report'
  - name: "OSGi integration"
    env: TEST_SUITE='verify -P docker-integration-test,osgi-integration-tests -DskipUTs'
  - name: "Standalone integration"
    env: TEST_SUITE='verify -P docker-integration-test,standalone-integration-tests -DskipUTs'
script:
  - mvn $TEST_SUITE -B
services:
  - docker
