#
# Copyright 2018 Telefonaktiebolaget LM Ericsson
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# ecChronos configuration


## Connection

### Native connection properties
## The class used to provide a native (CQL) connection to Apache Cassandra.
## When commented the default provider will be used.
#connection.native.class=com.ericsson.bss.cassandra.ecchronos.application.DefaultNativeConnectionProvider

## The class used to decorate native statements.
## When commented the default no-op decorator will be used.
#connection.native.decorator.class=com.ericsson.bss.cassandra.ecchronos.application.NoopStatementDecorator

## Connection properties to connect through CQL to Apache Cassandra.
## Primarily used by the default connection provider.
#connection.native.host=localhost
#connection.native.port=9042


### JMX connection properties
## The class used to provide a JMX connection to Apache Cassandra.
## When commented the default provider will be used.
#connection.jmx.class=com.ericsson.bss.cassandra.ecchronos.application.DefaultJmxConnectionProvider

## Connection properties to connect through JMX to Apache Cassandra.
## Primarily used by the default connection provider.
#connection.jmx.host=localhost
#connection.jmx.port=7199


## Repair configuration

### Repair interval
## How often repairs should be triggered for tables.
#repair.interval.time=7
#repair.interval.time.unit=days

### Repair options
## Which parallelism should be used for repairs.
## Possible values are "parallel"
#repair.parallelism=parallel

## Which locking type to use for repairs.
## "vnode" will lock each node involved in the repair individually and increase the number of
## parallel repairs that can run in a single data center.
## "datacenter" will lock each data center involved in the repair and only allow a single repair per data center.
## "datacenter_and_vnode" will use both former options and is a transition state when changing between them.
## Possible values are "vnode", "datacenter" and "datacenter_and_vnode".
#repair.lock.type=vnode


### Repair alarms
## The time after which a warning alarm should be triggered when a table has not been repaired.
#repair.alarm.warn.time=8
#repair.alarm.warn.time.unit=days

## The time after which an error alarm should be triggered when a table has not been repaired.
#repair.alarm.error.time=10
#repair.alarm.error.time.unit=days

### Repair unwind ratio
## If repair jobs should wait between execution of repairs.
## In the case of vnode repairs the wait would happen between repairs of each vnode.
## When specifying 1.0 the wait will be 100% of the time it took to perform the task.
## The value should be in the range 0.0(0%) -> 1.0(100%).
## A value of 0.0 disables the wait completely.
#repair.unwind.ratio=0.0

### Max repair history lookback
## The lookback time for when the repair_history table is queried to get initial repair state at startup.
## The time should match the "expected TTL" of the system_distributed.repair_history table.
#repair.history.lookback.time=30
#repair.history.lookback.time.unit=days

### Repair target size
## Set a target for how much data each repair session should process.
## This is an estimation assuming uniform data distribution among partition keys.
## The value should be either a number or a number with a unit of measurement:
## 12  (12 B)
## 12k (1 KiB)
## 12m (1 MiB)
## 12g (1 GiB)
#repair.size.target=


### Statistics
## If statistics should be enabled.
#statistics.enabled=true

## Where the statistics should be stored.
#statistics.directory=./statistics


### CAS Lock Factory
## The keyspace used for the CAS lock factory tables.
#lockfactory.cas.keyspace=ecchronos

### Time based Run Policy
## The keyspace used for the time based run policy tables.
#runpolicy.timebased.keyspace=ecchronos


### HTTP server
## The host and port used for the HTTP server
#http.server.host=localhost
#http.server.port=8080
