<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<meta charset=utf-8>
<meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
<title Error th:text="${status + ' (' + error + ')'}"></title>
<style>
  *{margin:0;padding:0}
  html,code{font:15px/22px arial,sans-serif}
  html{background:#fff;color:#222;padding:15px}
  p{margin:11px 0 22px;overflow:hidden}
  ins{color:#777;text-decoration:none}
  body {margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}
</style>
<body>
<p>The requested URL <ins th:text="${path}"></ins> returned an error <b th:text="${status + ' (' + error + ')'}"></b>.
<p>The error occurred at <code th:text="${timestamp}"></code>
</body>
</html>