name: Test report

on:
  workflow_dispatch:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    paths-ignore:
      - '**.md'

env:
  MAVEN_OPTS: -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
       include:
          # Java 17 tests
          - name: "Unit tests - Java 17"
            java_version: 17
            test_suite: 'test -Djava.version=17 jacoco:report'
          - name: "Style check - Java 17"
            java_version: 17
            test_suite: 'compile -Djava.version=17 com.mycila:license-maven-plugin:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check javadoc:jar'
          - name: "Standalone integration 4.0 - Java 17"
            java_version: 17
            test_suite: 'verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=4.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Standalone integration 4.1 - Java 17"
            java_version: 17
            test_suite: 'verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=17 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Standalone integration 5.0 - Java 17"
            java_version: 17
            test_suite: 'verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Python integration - Java 17"
            java_version: 17
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"

          # Java 21 tests
          - name: "Unit tests - Java 21"
            java_version: 21
            test_suite: 'test -Dnet.bytebuddy.experimental=true -Djava.version=21 jacoco:report'
          - name: "Style check - Java 21"
            java_version: 21
            test_suite: 'compile -Djava.version=21 com.mycila:license-maven-plugin:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check javadoc:jar'
          - name: "Standalone integration 4.0 - Java 21"
            java_version: 21
            test_suite: 'verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=4.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Standalone integration 4.1 - Java 21"
            java_version: 21
            test_suite: 'verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=21 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Standalone integration 5.0 - Java 21"
            java_version: 21
            test_suite: 'verify -P docker-integration-test,standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Python integration - Java 21"
            java_version: 21
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Cache local Maven repository
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.m2/repository
          key: build-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            build-${{ runner.os }}-maven-

      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python 3
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.12 #current python-driver only support up to 3.12

      - name: Install black
        run: python -m pip install black==24.10.0

      - name: Run black in the check mode
        run: black --check --verbose --line-length 120 ./ecchronos-binary/src

      - name: install dependencies
        run: mvn install -DskipTests=true

      - run: mvn $TEST_SUITE -B
        id: tests
        env:
          TEST_SUITE: ${{ matrix.test_suite }}

      - name: Upload artifacts
        if: ${{ failure() && steps.tests.conclusion == 'failure' }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ matrix.name }}-cassandra-logs
          path: ${{ matrix.artifacts_dir }}/cassandra*.log
          if-no-files-found: 'ignore'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          files: >
            ./rest/target/site/jacoco/jacoco.xml,
            ./application/target/site/jacoco/jacoco.xml,
            ./core/target/site/jacoco/jacoco.xml,
            ./fm.impl/target/site/jacoco/jacoco.xml,
            ./connection/target/site/jacoco/jacoco.xml
