name: Test report

on:
  workflow_dispatch:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    paths-ignore:
      - '**.md'

env:
  MAVEN_OPTS: -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
       include:
          # Java 17 tests
          - name: "Unit tests - Java 17"
            java_version: 17
            test_suite: 'test -Djava.version=17 jacoco:report'
          - name: "Style check - Java 17"
            java_version: 17
            test_suite: 'test-compile -Djava.version=17 com.mycila:license-maven-plugin:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check javadoc:jar'
          - name: "Standalone integration 4.1 - Java 17"
            java_version: 17
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=17 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Standalone integration 5.0 - Java 17"
            java_version: 17
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Python integration - Java 17"
            java_version: 17
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Topology integration - Java 17"
            java_version: 17
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
            
          # Java 21 tests
          - name: "Unit tests - Java 21"
            java_version: 21
            test_suite: 'test -Dnet.bytebuddy.experimental=true -Djava.version=21 jacoco:report'
          - name: "Style check - Java 21"
            java_version: 21
            test_suite: 'test-compile -Djava.version=21 com.mycila:license-maven-plugin:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check javadoc:jar'
          - name: "Standalone integration 4.1 - Java 21"
            java_version: 21
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=21 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Standalone integration 5.0 - Java 21"
            java_version: 21
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Python integration - Java 21"
            java_version: 21
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Topology integration - Java 21"
            java_version: 17
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"

          # Java 17 Jolokia tests
          - name: "Jolokia Standalone integration 4.1 - Java 17"
            java_version: 17
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=17 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Jolokia Standalone integration 5.0 - Java 17"
            java_version: 17
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Jolokia Python integration - Java 17"
            java_version: 17
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Python integration - Java 17 - PEM"
            java_version: 17
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -Dit.jmx.pem.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Topology integration - Java 17"
            java_version: 17
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Topology integration - Java 17 - PEM"
            java_version: 17
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -Dit.jmx.pem.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"

          # Java 21 Jolokia tests
          - name: "Jolokia Standalone integration 4.1 - Java 21"
            java_version: 21
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=21 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Jolokia Standalone integration 5.0 - Java 21"
            java_version: 21
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Jolokia Python integration - Java 21"
            java_version: 21
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Python integration - Java 21 - PEM"
            java_version: 21
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -Dit.jmx.pem.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Topology integration - Java 21"
            java_version: 21
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Topology integration - Java 21 - PEM"
            java_version: 21
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -Dit.jmx.pem.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Cache local Maven repository
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.m2/repository
          key: build-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            build-${{ runner.os }}-maven-

      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3

      - name: Install black
        run: python -m pip install black==24.10.0

      - name: Run black in the check mode
        run: black --check --verbose --line-length 120 ./ecchronos-binary/src

      - name: install dependencies
        run: mvn install -Pbuild-cassandra-test-jar -DskipTests=true

      - run: mvn $TEST_SUITE -B
        id: tests
        env:
          TEST_SUITE: ${{ matrix.test_suite }}

      - name: Upload artifacts
        if: ${{ failure() && steps.tests.conclusion == 'failure' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ matrix.name }}-ecchronos-logs
          path: ./ecchronos-binary/target/test/ecchronos-binary-agent-1.0.0-SNAPSHOT/ecc.log
          if-no-files-found: 'ignore'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          files: >
            ./rest/target/site/jacoco/jacoco.xml,
            ./application/target/site/jacoco/jacoco.xml,
            ./core/target/site/jacoco/jacoco.xml,
            ./fm.impl/target/site/jacoco/jacoco.xml,
            ./connection/target/site/jacoco/jacoco.xml
