name: Test report

on:
  workflow_dispatch:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    paths-ignore:
      - '**.md'

env:
  MAVEN_OPTS: -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-22.04 
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
       include:
          # Java 17 tests
          - name: "Unit tests - Java 17"
            java_version: 17
            test_suite: 'test -Djava.version=17 jacoco:report'
          - name: "Style check - Java 17"
            java_version: 17
            test_suite: 'test-compile -Djava.version=17 com.mycila:license-maven-plugin:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check javadoc:jar'
          - name: "Standalone integration 4.1 - Java 17"
            java_version: 17
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=17 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Standalone integration 5.0 - Java 17"
            java_version: 17
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Python integration - Java 17"
            java_version: 17
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Topology integration - Java 17"
            java_version: 17
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
            
          # Java 21 tests
          - name: "Unit tests - Java 21"
            java_version: 21
            test_suite: 'test -Dnet.bytebuddy.experimental=true -Djava.version=21 jacoco:report'
          - name: "Style check - Java 21"
            java_version: 21
            test_suite: 'test-compile -Djava.version=21 com.mycila:license-maven-plugin:check pmd:pmd pmd:cpd pmd:check pmd:cpd-check javadoc:jar'
          - name: "Standalone integration 4.1 - Java 21"
            java_version: 21
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=21 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Standalone integration 5.0 - Java 21"
            java_version: 21
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Python integration - Java 21"
            java_version: 21
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Topology integration - Java 21"
            java_version: 21
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"

          # Java 17 Jolokia tests
          - name: "Jolokia Standalone integration 4.1 - Java 17"
            java_version: 17
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=17 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Jolokia Standalone integration 5.0 - Java 17"
            java_version: 17
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Jolokia Python integration - Java 17"
            java_version: 17
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Python integration - Java 17 - PEM"
            java_version: 17
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -Dit.jmx.pem.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Topology integration - Java 17"
            java_version: 17
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Topology integration - Java 17 - PEM"
            java_version: 17
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=17 -Dit.jolokia.enabled=true -Dit.jmx.pem.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"

          # Java 21 Jolokia tests
          - name: "Jolokia Standalone integration 4.1 - Java 21"
            java_version: 21
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=4.1 -Djava.version=21 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Jolokia Standalone integration 5.0 - Java 21"
            java_version: 21
            test_suite: 'verify -P standalone-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "standalone-integration/target"
          - name: "Jolokia Python integration - Java 21"
            java_version: 21
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Python integration - Java 21 - PEM"
            java_version: 21
            test_suite: 'verify -P python-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -Dit.jmx.pem.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Topology integration - Java 21"
            java_version: 21
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"
          - name: "Jolokia Topology integration - Java 21 - PEM"
            java_version: 21
            test_suite: 'verify -P topology-integration-tests -Dit.cassandra.version=5.0 -Djava.version=21 -Dit.jolokia.enabled=true -Dit.jmx.pem.enabled=true -DskipUTs'
            artifacts_dir: "ecchronos-binary/target"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Cache local Maven repository
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.m2/repository
          key: build-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            build-${{ runner.os }}-maven-

      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python 3
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3

      - name: Install black
        run: python -m pip install black==24.10.0

      - name: Run black in the check mode
        run: black --check --verbose --line-length 120 ./ecchronos-binary/src

      - name: install dependencies
        run: mvn install -Pbuild-cassandra-test-jar -DskipTests=true

      - name: Set Cassandra memory limits for topology tests
        if: contains(matrix.name, 'Topology')
        run: |
          echo "MAX_HEAP_SIZE=1536M" >> $GITHUB_ENV
          echo "HEAP_NEWSIZE=200M" >> $GITHUB_ENV

      - run: mvn $TEST_SUITE -B
        id: tests
        env:
          TEST_SUITE: ${{ matrix.test_suite }}

      - name: Upload artifacts
        if: ${{ failure() && steps.tests.conclusion == 'failure' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.name }}-ecchronos-logs
          path: ./ecchronos-binary/target/test/ecchronos-binary-agent-1.0.0-SNAPSHOT/logs/ecchronos.log
          if-no-files-found: 'ignore'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          files: >
            ./rest/target/site/jacoco/jacoco.xml,
            ./application/target/site/jacoco/jacoco.xml,
            ./core/target/site/jacoco/jacoco.xml,
            ./fm.impl/target/site/jacoco/jacoco.xml,
            ./connection/target/site/jacoco/jacoco.xml
